html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.intro {
    transform: translateY(5vh);
}

.intro > h1 {
    color: #212121;
    font-size: 12vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

.intro > .profile {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-title {
    color: var(--accent);
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}

/* Result */
.result-container {
    display: flex;
    justify-content: space-between;
}

.result-score-container {
    display: flex;
    justify-content: space-between;
    width: 45%
}

.result-info-container {
    display: flex;
    justify-content: flex-start;
}

/* Team */

@media only screen and (max-width: 400px) {
    .team-container {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 401px) {
    .team-container {
        display: flex;
        justify-content: space-between;
        width: 120%
    }
}
/* tooltip */
[data-tip] {
	position:relative;
}
[data-tip]:before {
	/* hides the tooltip when not hovered */
	content:'';
	display:none;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:25px;
	left:50px;
	padding:1px 8px;
	background:#1a1a1a;
	color:#fff;
	z-index:10;
	font-size: 0.75em;
	height:22px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}