{{ partial "header" . }}

<main>

    <div class="intro">

        <h2>{{ .Site.Title }}</h2>

        {{ with .Site.Params.Logo }} <img class="profile" src="{{ . }}"> {{ end }}

        <h4 class="item-title">Dernier résultat</h4>
        {{ range first 1 (where (where .Pages "Section" "result") ".Params.ateam" "==" "DUNKERQUE") }} {{ partial "result/list-item-excerpt" . }} {{ end }}

        {{ range where .Pages "Section" "team" }} {{ partial "team/list-item-excerpt" . }} {{ end }}

        <h4 class="item-title">Adresse</h4>
        <h5>Salle de sport du lycée de l'Europe</h5>
        <h5>809 Rue du Banc vert</h5>
        <h5>59640 Dunkerque</h5>

    </div>

</main>

{{ partial "footer" . }}